@page
@model LegalLib.KlasifikasiIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Index Klasifikasi</h1>

<p>
    <a asp-page="Create">Create New Klasifikasi</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblKlasifikasi[0].Klasifikasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblKlasifikasi[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblKlasifikasi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasifikasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.KlasifikasiID">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.KlasifikasiID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
