@page "{id:int}"
@model LegalLib.CatDisplayModel

@{
    ViewData["Title"] = "CatDisplay";
}

<h1>List View Document By Category</h1>

<h4>@Model.GetCategory(Model.CategoryID)</h4>

<br />

<div>
    <form>
        <select asp-for="SCriteria">
            <option value="NOMOR">Nomor</option>
            <option value="CRITERIA">Criteria</option>
            <option value="PERIHAL">Perihal</option>
            <option value="KLASIFIKASI">Klasifikasi</option>
            <option value="TANGGAL">Tanggal Berlaku</option>
        </select>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </form>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].Nomor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].NamaDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].Perihal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].TglMulai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].Revisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].Catatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].CriteriaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLegalDocument[0].CategoryID)
            </th>
            <th>
                Klasifikasi
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblLegalDocument) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perihal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TglMulai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriteriaID)
                @Model.GetCriteria(item.CriteriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
                @Model.GetCategory(item.CategoryID)
            </td>
            <td>
                @foreach (var kk in Model.TblDocK)
                {
                    if (kk.DocumentID == item.DocumentID)
                    {
                        @Html.DisplayFor(modelItem => kk.KlasifikasiID)
                        @Model.GetKlasifikasi(kk.KlasifikasiID) <br />
                    }
                }

            </td>
            <td>
                <a asp-page="/Documents/DocEdit" asp-route-id="@item.DocumentID">Edit</a> |
                <a asp-page="/Documents/DocDetails" asp-route-id="@item.DocumentID">Details</a> |
                <a asp-page="/Comment/Index" asp-route-id="@item.DocumentID">Comment</a> |
            </td>
        </tr>
}
    </tbody>
</table>
