@page
@model LegalLib.AddKlasifikasiModel

@{
    ViewData["Title"] = "AddKlasifikasi";
}

<h1>AddKlasifikasi</h1>

<form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tblDocKlasifikasi[0].DocumentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblDocKlasifikasi[0].KlasifikasiID)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tblDocKlasifikasi)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KlasifikasiID)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Pilih" class="btn btn-primary" />
</form>

<select multiple="multiple" asp-for="@Model.KlasifikasiSL"></select>

<a asp-page="./DocEdit" asp-route-id="@Model.DocumentID">Add</a> |

