@page "{id:int}"
@model LegalLib.DocDetailsModel

@{
    ViewData["Title"] = "DocDetails";
    ViewData["URL"] = Model.Configuration["Setting:ExternalURL"];
}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-primary navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-page="/Index" class="nav-link">Home</a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <img src="~/AdminLTE-3.0.2/dist/img/avatar.png" class="nav-link" alt="User Image">
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <b class="nav-link">@Model.SUsername</b>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            @{
                if (Model.SUsername == null)
                {
                    <strong><a class="nav-link" asp-page="/Login/Index">LOGIN</a></strong>
                }
                else
                {
                    <strong><a class="nav-link" asp-page="/Login/Logout">LOGOUT</a></strong>
                }
            }
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="navbar-white">
        <div class="brand-image navbar-white pb-1">
            <img src="~/images/PertaminaEPCepu.png" alt="AdminLTE Logo" class="brand-image"
                 style="opacity: .8">
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block"><h2>Digital Library</h2></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            PERATURAN EXTERNAL
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        @foreach (var item in Model.TblCategory)
                        {
                            <li class="nav-item">
                                <a asp-page="/Search/CatDisplay" asp-route-id="@item.CategoryID" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            PERATURAN INTERNAL
                        </p>
                    </a>
                    <a href="@ViewData["URL"]" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                            Portal STK
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a asp-page="/Documents/DocList" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            ARCHIVE
                        </p>
                    </a>
                </li>

                <!-- Master Documents dan Master Data baru ditampilkan setelah user logon-->
                @{if (Model.SUsername != null)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    MASTER DOCUMENTS
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Documents/DocCreate" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>CREATE DOCUMENT</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Documents/DocList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>LIST DOCUMENT</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Approval/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>APPROVE DOCUMENT</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    MASTER DATA
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Category/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>MASTER CATEGORY</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Criteria/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>MASTER CRITERIA</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Klasifikasi/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>MASTER KLASIFIKASI</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Document Details
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Legal Document</h3>
                </div>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Nomor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Nomor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.NamaDocument)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.NamaDocument)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Perihal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Perihal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Regulation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Regulation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Chapter)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Chapter)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Requirement)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Requirement)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.LegalRisk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.LegalRisk)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.BusinessRisk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.BusinessRisk)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.PeopleRisk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.PeopleRisk)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.EnvironmentRisk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.EnvironmentRisk)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Methods)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Methods)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Authority)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Authority)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.TglMulai)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.TglMulai)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.TglAkhir)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.TglAkhir)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Revisi)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Revisi)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.RevDocument)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.RevDocument)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Permit)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Permit)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.PermitDueDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.PermitDueDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.ReportDueDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.ReportDueDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.Catatan)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.Catatan)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.ApproveStatus)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.ApproveStatus)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.UploaderID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.UploaderName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.UploaderEmail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.TglUpload)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.TglUpload)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.ModifiedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.ModifiedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.ModifiedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.ModifiedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.CategoryID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.CategoryID)
                        @Model.GetCategory(Model.TblLegalDocument.CategoryID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.CriteriaID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.CriteriaID)
                        @Model.GetCriteria(Model.TblLegalDocument.CriteriaID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TblLegalDocument.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblLegalDocument.IsActive)
                    </dd>
                </dl>

            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Klasifikasi</h3>
                </div>
                <ul>
                    @foreach (var item in Model.TblDK)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => item.KlasifikasiID)
                            @Model.GetKlasifikasi(item.KlasifikasiID) <br />

                        </li>
                    }
                </ul>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">File Attachment</h3>
                </div>
                <ul>
                    @foreach (var item in Model.TblFileAttach)
                    {

                        var url = "http://localhost:8001/uploads";
                        url = url + "/" + item.DocumentID + "/" + item.Filename;

                        <li>
                            <a href="@url">
                                @Html.DisplayFor(modelItem => item.Filename)
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <a onclick="history.go(-1); return false;" href="#">Back</a>
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
