@page "{id:int}"
@model LegalLib.DocDetailsModel

@{
    ViewData["Title"] = "DocDetails";
}

<h1>Document Details</h1>

<div>
    <h4>tblLegalDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Nomor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Nomor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.NamaDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.NamaDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Perihal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Perihal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Regulation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Regulation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Requirement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.LegalRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.LegalRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.BusinessRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.BusinessRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.PeopleRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.PeopleRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.EnvironmentRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.EnvironmentRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Methods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Methods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Authority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Authority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.TglMulai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.TglMulai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.TglAkhir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.TglAkhir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Revisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Revisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.RevDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.RevDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Permit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Permit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.PermitDueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.PermitDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.ReportDueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.ReportDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.Catatan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.Catatan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.ApproveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.ApproveStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.UploaderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.UploaderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.UploaderEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.UploaderEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.TglUpload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.TglUpload)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.CategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.CategoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.CriteriaID)            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.CriteriaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblLegalDocument.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblLegalDocument.IsActive)
        </dd>
    </dl>
</div>

<strong>Klasifikasi</strong>
<br />
<ul>
    @foreach (var item in Model.TblDK)
    {
    <li>
        @Html.DisplayFor(modelItem => item.KlasifikasiID)
        @Model.GetKlasifikasi(item.KlasifikasiID) <br />

    </li>
    }
</ul>

    <strong>File Attachment</strong>
    <br />
    <ul>
        @foreach (var item in Model.TblFileAttach)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Filename)
            </li>
        }
    </ul>

    <div>
        <a onclick="history.go(-1); return false;" href="#">Back</a>
    </div>
