@page
@model LegalLib.DocDetailsModel

@{
    ViewData["Title"] = "DocDetails";
}

<h1>DocDetails</h1>

<div>
    <h4>tblLegalDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Nomor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Nomor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.NamaDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.NamaDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Perihal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Perihal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Regulation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Regulation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Requirement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.LegalRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.LegalRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.BusinessRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.BusinessRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.PeopleRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.PeopleRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.EnvironmentRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.EnvironmentRisk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Methods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Methods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Authority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Authority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.TglMulai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.TglMulai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.TglAkhir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.TglAkhir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Revisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Revisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.RevDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.RevDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Permit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Permit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.PermitDueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.PermitDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.ReportDueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.ReportDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.Catatan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.Catatan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.ApproveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.ApproveStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.UploaderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.UploaderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.UploaderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.UploaderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.UploaderEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.UploaderEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.TglUpload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.TglUpload)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.CriteriaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.CriteriaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblLegalDocument.CategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblLegalDocument.CategoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tblLegalDocument.DocumentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
