@page "{id:int}"
@model LegalLib.DocEditModel

@{
    ViewData["Title"] = "DocEdit";
}

<h1>DocEdit Document</h1>

<h4>tblLegalDocument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblLegalDocument.DocumentID" />
            <input type="hidden" asp-for="TblLegalDocument.UploaderID" />
            <input type="hidden" asp-for="TblLegalDocument.UploaderName" />
            <input type="hidden" asp-for="TblLegalDocument.UploaderEmail" />
            <input type="hidden" asp-for="TblLegalDocument.TglUpload" />
            <input type="hidden" asp-for="TblLegalDocument.IsActive" />

            <div class="form-group">
                <label asp-for="TblLegalDocument.Nomor" class="control-label"></label>
                <input asp-for="TblLegalDocument.Nomor" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Nomor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.NamaDocument" class="control-label"></label>
                <input asp-for="TblLegalDocument.NamaDocument" class="form-control" />
                <span asp-validation-for="TblLegalDocument.NamaDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Status" class="control-label"></label>
                <select asp-for="TblLegalDocument.Status" class="form-control">
                    <option value="BARU">BARU</option>
                    <option value="REVISI">REVISI</option>
                    <option value="CABUT">CABUT</option>
                </select>
                <span asp-validation-for="TblLegalDocument.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Perihal" class="control-label"></label>
                <input asp-for="TblLegalDocument.Perihal" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Perihal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Regulation" class="control-label"></label>
                <input asp-for="TblLegalDocument.Regulation" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Regulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Chapter" class="control-label"></label>
                <input asp-for="TblLegalDocument.Chapter" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Requirement" class="control-label"></label>
                <input asp-for="TblLegalDocument.Requirement" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Requirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.LegalRisk" class="control-label"></label>
                <input asp-for="TblLegalDocument.LegalRisk" class="form-control" />
                <span asp-validation-for="TblLegalDocument.LegalRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.BusinessRisk" class="control-label"></label>
                <input asp-for="TblLegalDocument.BusinessRisk" class="form-control" />
                <span asp-validation-for="TblLegalDocument.BusinessRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.PeopleRisk" class="control-label"></label>
                <input asp-for="TblLegalDocument.PeopleRisk" class="form-control" />
                <span asp-validation-for="TblLegalDocument.PeopleRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.EnvironmentRisk" class="control-label"></label>
                <input asp-for="TblLegalDocument.EnvironmentRisk" class="form-control" />
                <span asp-validation-for="TblLegalDocument.EnvironmentRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Methods" class="control-label"></label>
                <input asp-for="TblLegalDocument.Methods" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Methods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Authority" class="control-label"></label>
                <input asp-for="TblLegalDocument.Authority" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.TglMulai" class="control-label"></label>
                <input asp-for="TblLegalDocument.TglMulai" class="form-control" />
                <span asp-validation-for="TblLegalDocument.TglMulai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.TglAkhir" class="control-label"></label>
                <input asp-for="TblLegalDocument.TglAkhir" class="form-control" />
                <span asp-validation-for="TblLegalDocument.TglAkhir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Revisi" class="control-label"></label>
                <input asp-for="TblLegalDocument.Revisi" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Revisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.RevDocument" class="control-label"></label>
                <select asp-for="TblLegalDocument.RevDocument" class="form-control" asp-items="Model.RevDocumentSL">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="TblLegalDocument.RevDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Permit" class="control-label"></label>
                <input asp-for="TblLegalDocument.Permit" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Permit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.PermitDueDate" class="control-label"></label>
                <input asp-for="TblLegalDocument.PermitDueDate" class="form-control" />
                <span asp-validation-for="TblLegalDocument.PermitDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.ReportDueDate" class="control-label"></label>
                <input asp-for="TblLegalDocument.ReportDueDate" class="form-control" />
                <span asp-validation-for="TblLegalDocument.ReportDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.Catatan" class="control-label"></label>
                <input asp-for="TblLegalDocument.Catatan" class="form-control" />
                <span asp-validation-for="TblLegalDocument.Catatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.CriteriaID" class="control-label"></label>
                <select asp-for="TblLegalDocument.CriteriaID" class="form-control" asp-items="Model.CriteriaSL">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="TblLegalDocument.CriteriaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblLegalDocument.CategoryID" class="control-label"></label>
                <select asp-for="TblLegalDocument.CategoryID" class="form-control" asp-items="Model.CategorySL">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="TblLegalDocument.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="SaveDocument" />
            </div>
        </form>
    </div>
</div>


<h4>Klasifikasi</h4>
<hr />
<div>
    <br />
    <form method="post">
        <div class="form-group">
            <label asp-for="TblAddDK.KlasifikasiID" class="control-label"></label>
            <select asp-for="TblAddDK.KlasifikasiID" class="form-control" asp-items="Model.KlasifikasiSL">
                <option value="0">--Select--</option>
            </select>
            <span asp-validation-for="TblAddDK.KlasifikasiID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="AddDK" />
        </div>
    </form>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Klasifikasi
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TblListDK)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KlasifikasiID)
                        @Model.GetKlasifikasi(item.KlasifikasiID)
                    </td>
                    <td>
                        <a asp-route-dkid="@item.DKID" asp-page-handler="DeleteDK">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<h4>File Attach</h4>
<hr />
<div>
    <br />
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" accept=".pdf" asp-for="Upload" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-primary" asp-page-handler="FileUpload" />
        </div>
    </form>
    @Model.Info

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    File Attach
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TblListFileAttach)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Filename)
                    </td>
                    <td>
                        <a asp-route-fileid="@item.FileID" asp-page-handler="DeleteFile">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>


Kembali ke <a href="/">Menu Utama</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
