@page
@model LegalLib.DocFileListModel

@{
    ViewData["Title"] = "DocFileList";
}

<h1>DocFileList</h1>

<p>
    <a asp-page="DocUpload" asp-route-id="@Model.DocumentID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblFileAttach[0].DocumentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblFileAttach[0].Filename)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tblFileAttach)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-page="DocEdit" asp-route-id="@Model.DocumentID">Edit Document</a>
<br />

