@page
@model LegalLib.CriteriaIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index Criteria</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblCriteria[0].Criteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblCriteria[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblCriteria[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tblCriteria) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Criteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CriteriaID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
